<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>alignment</key>
			<integer>1</integer>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>© 2013, HASHBANG Productions</string>
			<key>label</key>
			<string>TypeStatus 1.1</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBTSTwitterCell</string>
			<key>label</key>
			<string>Follow @hbangws on Twitter</string>
			<key>user</key>
			<string>hbangws</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Thank you to the following people for contributing to TypeStatus:</string>
			<key>label</key>
			<string> </string>
		</dict>
		<dict>
			<key>alignment</key>
			<integer>1</integer>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Jeff Benjamin</string>
			<key>label</key>
			<string>Idea</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBTSTwitterCell</string>
			<key>label</key>
			<string>Follow @JeffBenjam on Twitter</string>
			<key>user</key>
			<string>JeffBenjam</string>
		</dict>
		<dict>
			<key>alignment</key>
			<integer>1</integer>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Surenix</string>
			<key>label</key>
			<string>Icons</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBTSTwitterCell</string>
			<key>label</key>
			<string>Follow @Surenix on Twitter</string>
			<key>user</key>
			<string>Surenix</string>
		</dict>
		<dict>
			<key>alignment</key>
			<integer>1</integer>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Greek: @iFasMan7</string>
			<key>label</key>
			<string>Translations</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBTSTwitterCell</string>
			<key>label</key>
			<string>Follow @iFasMan7 on Twitter</string>
			<key>user</key>
			<string>iFasMan7</string>
		</dict>
		<dict>
			<key>alignment</key>
			<integer>1</integer>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Norwegian: @Thay__T</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBTSTwitterCell</string>
			<key>label</key>
			<string>Follow @Thay__T on Twitter</string>
			<key>user</key>
			<string>Thay__T</string>
		</dict>
		<dict>
			<key>alignment</key>
			<integer>1</integer>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Russian: @vladkorotnev</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBTSTwitterCell</string>
			<key>label</key>
			<string>Follow @vladkorotnev on Twitter</string>
			<key>user</key>
			<string>vladkorotnev</string>
		</dict>
		<dict>
			<key>alignment</key>
			<integer>1</integer>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Swedish: @c0redev</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBTSTwitterCell</string>
			<key>label</key>
			<string>Follow @c0redev on Twitter</string>
			<key>user</key>
			<string>c0redev</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>…and our beta testers and users!</string>
		</dict>
	</array>
	<key>title</key>
	<string>About</string>
</dict>
</plist>
