<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>alignment</key>
			<integer>1</integer>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>© 2013, HASHBANG Productions</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBTSHeaderCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>HBTSTwitterCell</string>
			<key>label</key>
			<string>HASHBANG Productions</string>
			<key>user</key>
			<string>hbangws</string>
			<key>height</key>
			<integer>54</integer>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Lead Developer</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBTSTwitterCell</string>
			<key>label</key>
			<string>Adam D</string>
			<key>user</key>
			<string>thekirbylover</string>
			<key>height</key>
			<integer>54</integer>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Thank you to the following people for contributing to TypeStatus.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Idea</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBTSTwitterCell</string>
			<key>label</key>
			<string>Jeff Benjamin</string>
			<key>user</key>
			<string>JeffBenjam</string>
			<key>height</key>
			<integer>54</integer>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Icons</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBTSTwitterCell</string>
			<key>label</key>
			<string>Thientam Bach</string>
			<key>user</key>
			<string>Surenix</string>
			<key>height</key>
			<integer>54</integer>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string></string>
			<key>label</key>
			<string>Translations</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBTSTwitterCell</string>
			<key>label</key>
			<string>Greek</string>
			<key>user</key>
			<string>iFasMan7</string>
			<key>small</key>
			<true/>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBTSTwitterCell</string>
			<key>label</key>
			<string>Norwegian</string>
			<key>user</key>
			<string>Thay__T</string>
			<key>small</key>
			<true/>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBTSTwitterCell</string>
			<key>label</key>
			<string>Russian</string>
			<key>user</key>
			<string>vladkorotnev</string>
			<key>small</key>
			<true/>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBTSTwitterCell</string>
			<key>label</key>
			<string>Swedish</string>
			<key>user</key>
			<string>c0redev</string>
			<key>small</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>…and our beta testers and users!</string>
		</dict>
	</array>
	<key>title</key>
	<string>About</string>
</dict>
</plist>
