<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>id</key>
			<string>AnimationTypeGroupCell</string>
			<key>label</key>
			<string>ANIMATION_TYPE</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>defaults</key>
			<string>ws.hbang.typestatus</string>
			<key>id</key>
			<string>AnimationTypeSegmentCell</string>
			<key>key</key>
			<string>OverlayAnimation</string>
			<key>validTitles</key>
			<array>
				<string>ANIMATION_SLIDE</string>
				<string>ANIMATION_FADE</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>DISPLAY_DURATION</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBStepperTableCell</string>
			<key>default</key>
			<real>5</real>
			<key>defaults</key>
			<string>ws.hbang.typestatus</string>
			<key>key</key>
			<string>OverlayDuration</string>
			<key>label</key>
			<string>N_SECONDS</string>
			<key>max</key>
			<real>15</real>
			<key>min</key>
			<real>1</real>
			<key>singularLabel</key>
			<string>ONE_SECOND</string>
			<key>PostNotification</key>
			<string>ws.hbang.typestatus/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>TYPING_HEADER</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<integer>2</integer>
			<key>defaults</key>
			<string>ws.hbang.typestatus</string>
			<key>get</key>
			<string>typingTypeWithSpecifier:</string>
			<key>set</key>
			<string>setTypingType:specifier:</string>
			<key>validTitles</key>
			<array>
				<string>OFF</string>
				<string>ALERT_TYPE_ICON</string>
				<string>ALERT_TYPE_OVERLAY</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>2</integer>
				<integer>1</integer>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>ws.hbang.typestatus</string>
			<key>key</key>
			<string>HideInMessages</string>
			<key>label</key>
			<string>HIDE_IN_MESSAGES</string>
			<key>PostNotification</key>
			<string>ws.hbang.typestatus/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>ws.hbang.typestatus</string>
			<key>detail</key>
			<string>HBListItemsController</string>
			<key>key</key>
			<string>TypingTimeout</string>
			<key>label</key>
			<string>SHOW_FOR</string>
			<key>staticTextMessage</key>
			<string>SHOW_FOR_EXPLANATION</string>
			<key>validTitles</key>
			<array>
				<string>SHOW_FOR_SPECIFIED</string>
				<string>SHOW_FOR_TYPING</string>
			</array>
			<key>validValues</key>
			<array>
				<false/>
				<true/>
			</array>
			<key>PostNotification</key>
			<string>ws.hbang.typestatus/ReloadPrefs</string>
		</dict>
		<dict>
			<key>action</key>
			<string>testTyping</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>HBTintedTableCell</string>
			<key>label</key>
			<string>TEST_TYPING</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>READ_HEADER</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<integer>2</integer>
			<key>defaults</key>
			<string>ws.hbang.typestatus</string>
			<key>get</key>
			<string>readReceiptTypeWithSpecifier:</string>
			<key>set</key>
			<string>setReadReceiptType:specifier:</string>
			<key>validTitles</key>
			<array>
				<string>OFF</string>
				<string>ALERT_TYPE_ICON</string>
				<string>ALERT_TYPE_OVERLAY</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>2</integer>
				<integer>1</integer>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>ws.hbang.typestatus</string>
			<key>key</key>
			<string>ReadHideInMessages</string>
			<key>label</key>
			<string>HIDE_IN_MESSAGES</string>
			<key>PostNotification</key>
			<string>ws.hbang.typestatus/ReloadPrefs</string>
		</dict>
		<dict>
			<key>action</key>
			<string>testReadReceipt</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>HBTintedTableCell</string>
			<key>label</key>
			<string>TEST_READ_RECEIPT</string>
		</dict>
	</array>
	<key>title</key>
	<string>ALERTS</string>
</dict>
</plist>
