<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>ANIMATION_TYPE</string>
			<key>footerText</key>
			<string>ANIMATION_TYPE_EXPLANATION</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>defaults</key>
			<string>ws.hbang.typestatus</string>
			<key>get</key>
			<string>animationType:</string>
			<key>set</key>
			<string>setAnimationType:specifier:</string>
			<key>validTitles</key>
			<array>
				<string>ANIMATION_SLIDE</string>
				<string>ANIMATION_FADE</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>TYPING_HEADER</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<integer>2</integer>
			<key>defaults</key>
			<string>ws.hbang.typestatus</string>
			<key>get</key>
			<string>typingType:</string>
			<key>set</key>
			<string>setTypingType:specifier:</string>
			<key>validTitles</key>
			<array>
				<string>OFF</string>
				<string>ALERT_TYPE_ICON</string>
				<string>ALERT_TYPE_OVERLAY</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
			</array>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBTSPreviewTableCell</string>
			<key>id</key>
			<string>TypingPreview</string>
			<key>get</key>
			<string>typingType:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>ws.hbang.typestatus</string>
			<key>key</key>
			<string>HideInMessages</string>
			<key>label</key>
			<string>HIDE_IN_MESSAGES</string>
			<key>PostNotification</key>
			<string>ws.hbang.typestatus/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>ws.hbang.typestatus</string>
			<key>detail</key>
			<string>HBListItemsController</string>
			<key>key</key>
			<string>TypingTimeout</string>
			<key>label</key>
			<string>SHOW_FOR</string>
			<key>staticTextMessage</key>
			<string>SHOW_FOR_EXPLANATION</string>
			<key>validTitles</key>
			<array>
				<string>SHOW_FOR_SPECIFIED</string>
				<string>SHOW_FOR_TYPING</string>
			</array>
			<key>validValues</key>
			<array>
				<false/>
				<true/>
			</array>
		</dict>
		<dict>
			<key>action</key>
			<string>testTyping</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>HBTintedTableCell</string>
			<key>label</key>
			<string>TEST_TYPING</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>READ_HEADER</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<integer>2</integer>
			<key>defaults</key>
			<string>ws.hbang.typestatus</string>
			<key>get</key>
			<string>readReceiptType:</string>
			<key>set</key>
			<string>setReadReceiptType:specifier:</string>
			<key>validTitles</key>
			<array>
				<string>OFF</string>
				<string>ALERT_TYPE_ICON</string>
				<string>ALERT_TYPE_OVERLAY</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
			</array>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBTSPreviewTableCell</string>
			<key>id</key>
			<string>ReadPreview</string>
			<key>get</key>
			<string>readType:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>ws.hbang.typestatus</string>
			<key>key</key>
			<string>ReadHideInMessages</string>
			<key>label</key>
			<string>HIDE_IN_MESSAGES</string>
			<key>PostNotification</key>
			<string>ws.hbang.typestatus/ReloadPrefs</string>
		</dict>
		<dict>
			<key>action</key>
			<string>testReadReceipt</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>HBTintedTableCell</string>
			<key>label</key>
			<string>TEST_READ_RECEIPT</string>
		</dict>
	</array>
	<key>title</key>
	<string>ALERT_TYPES</string>
</dict>
</plist>