<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cellClass</key>
			<string>HBTwitterCell</string>
			<key>big</key>
			<true/>
			<key>height</key>
			<integer>64</integer>
			<key>label</key>
			<string>HASHBANG Productions</string>
			<key>user</key>
			<string>hbangws</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>LEAD_DEVELOPER</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBTwitterCell</string>
			<key>label</key>
			<string>Adam Demasi</string>
			<key>user</key>
			<string>hbkirb</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>THANKS_HEADER</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>ORIGINAL_IDEA</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBTwitterCell</string>
			<key>label</key>
			<string>Jeff Benjamin</string>
			<key>user</key>
			<string>JeffBenjam</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>ICONS</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBTwitterCell</string>
			<key>label</key>
			<string>Thientam Bach</string>
			<key>user</key>
			<string>Surenix</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBTwitterCell</string>
			<key>label</key>
			<string>Kyle Revony</string>
			<key>user</key>
			<string>krevony</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>TRANSLATORS</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBTwitterCell</string>
			<key>initials</key>
			<string>AR</string>
			<key>label</key>
			<string>MiRO</string>
			<key>user</key>
			<string>MiRO92</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBTwitterCell</string>
			<key>initials</key>
			<string>DA</string>
			<key>label</key>
			<string>Luis Falke Vinqvist</string>
			<key>user</key>
			<string>Rechain</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBTwitterCell</string>
			<key>initials</key>
			<string>DE</string>
			<key>label</key>
			<string>Pierre G.</string>
			<key>user</key>
			<string>pierre2g</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBTwitterCell</string>
			<key>initials</key>
			<string>ES</string>
			<key>label</key>
			<string>Nicolás Alvarez</string>
			<key>user</key>
			<string>nicolas09F9</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBTwitterCell</string>
			<key>initials</key>
			<string>FR</string>
			<key>label</key>
			<string>Overfl0w</string>
			<key>user</key>
			<string>SorenSzabo</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBTwitterCell</string>
			<key>initials</key>
			<string>ID</string>
			<key>label</key>
			<string>syamersam</string>
			<key>user</key>
			<string>syamersam</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBTwitterCell</string>
			<key>initials</key>
			<string>IT</string>
			<key>label</key>
			<string>Gianvito</string>
			<key>user</key>
			<string>djanvito</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBTwitterCell</string>
			<key>initials</key>
			<string>MS</string>
			<key>label</key>
			<string>syamersam</string>
			<key>user</key>
			<string>syamersam</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBTwitterCell</string>
			<key>initials</key>
			<string>NL</string>
			<key>label</key>
			<string>Timon Olsthoorn</string>
			<key>user</key>
			<string>tmnlsthrn</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBTwitterCell</string>
			<key>initials</key>
			<string>PL</string>
			<key>label</key>
			<string>krzysiek borek</string>
			<key>user</key>
			<string>krzysiek_borek</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBTwitterCell</string>
			<key>initials</key>
			<string>PT</string>
			<key>label</key>
			<string>Nino</string>
			<key>user</key>
			<string>carlyslayjepson</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBTwitterCell</string>
			<key>initials</key>
			<string>pt_PT</string>
			<key>label</key>
			<string>Nino</string>
			<key>user</key>
			<string>carlyslayjepson</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBTwitterCell</string>
			<key>initials</key>
			<string>RU</string>
			<key>label</key>
			<string>Yury</string>
			<key>user</key>
			<string>YorkFieldX</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>THANKS_FOOTER</string>
		</dict>
	</array>
	<key>title</key>
	<string>CREDITS</string>
</dict>
</plist>
