<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>ws.hbang.typestatus</string>
			<key>id</key>
			<string>Status</string>
			<key>key</key>
			<string>ReadStatus</string>
			<key>label</key>
			<string>Status Bar Overlay</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>ws.hbang.typestatus</string>
			<key>id</key>
			<string>Icon</string>
			<key>key</key>
			<string>ReadIcon</string>
			<key>label</key>
			<string>Status Bar Icon</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>ws.hbang.typestatus</string>
			<key>key</key>
			<string>ReadHideInMessages</string>
			<key>label</key>
			<string>Hide Inside Messages</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>action</key>
			<string>testReadStatus</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>HBTintedTableCell</string>
			<key>label</key>
			<string>Test Read</string>
		</dict>
	</array>
	<key>title</key>
	<string>Read Receipt</string>
</dict>
</plist>
