<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>HBTSAlertTypesListController</string>
			<key>label</key>
			<string>ALERT_TYPES</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>DISPLAY_DURATION</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBStepperTableCell</string>
			<key>default</key>
			<real>5</real>
			<key>defaults</key>
			<string>ws.hbang.typestatus</string>
			<key>key</key>
			<string>OverlayDuration</string>
			<key>label</key>
			<string>N_SECONDS</string>
			<key>max</key>
			<real>15</real>
			<key>min</key>
			<real>1</real>
			<key>singularLabel</key>
			<string>ONE_SECOND</string>
			<key>PostNotification</key>
			<string>ws.hbang.typestatus/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>HBTSAboutListController</string>
			<key>isController</key>
			<true/>
			<key>label</key>
			<string>ABOUT</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>HBTSCreditsListController</string>
			<key>isController</key>
			<true/>
			<key>label</key>
			<string>CREDITS</string>
		</dict>
	</array>
	<key>title</key>
	<string>TypeStatus</string>
</dict>
</plist>
