<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>“Status Bar Overlay” briefly overlays the status bar with the name of the person who caused the notification.
“Hide Inside Messages” disables all indicators while Messages or biteSMS is open.
The delay can be set with the “Overlay Display Duration” setting below.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>ws.hbang.typestatus</string>
			<key>detail</key>
			<string>HBTSTypingListController</string>
			<key>label</key>
			<string>Typing</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>ws.hbang.typestatus</string>
			<key>detail</key>
			<string>HBTSReadListController</string>
			<key>label</key>
			<string>Read Receipt</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Overlay Display Duration</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBStepperTableCell</string>
			<key>default</key>
			<real>5</real>
			<key>defaults</key>
			<string>ws.hbang.typestatus</string>
			<key>id</key>
			<string>OverlayDuration</string>
			<key>key</key>
			<string>OverlayDuration</string>
			<key>label</key>
			<string>%i Seconds</string>
			<key>max</key>
			<real>15</real>
			<key>min</key>
			<real>1</real>
			<key>singularLabel</key>
			<string>1 Second</string>
			<key>PostNotification</key>
			<string>ws.hbang.typestatus/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<real>5</real>
			<key>defaults</key>
			<string>ws.hbang.typestatus</string>
			<key>id</key>
			<string>OverlayDurationLegacy</string>
			<key>key</key>
			<string>OverlayDuration</string>
			<key>validTitles</key>
			<array>
				<string>3</string>
				<string>5</string>
				<string>8</string>
				<string>10</string>
				<string>15</string>
			</array>
			<key>validValues</key>
			<array>
				<real>3</real>
				<real>5</real>
				<real>8</real>
				<real>10</real>
				<real>15</real>
			</array>
			<key>staticTextMessage</key>
			<string>iso6 pls</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Overlay Animation</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>ws.hbang.typestatus</string>
			<key>key</key>
			<string>OverlaySlide</string>
			<key>label</key>
			<string>Slide</string>
			<key>PostNotification</key>
			<string>ws.hbang.typestatus/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>ws.hbang.typestatus</string>
			<key>key</key>
			<string>OverlayFade</string>
			<key>label</key>
			<string>Fade</string>
			<key>PostNotification</key>
			<string>ws.hbang.typestatus/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>HBTSAboutListController</string>
			<key>isController</key>
			<true/>
			<key>label</key>
			<string>About</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>HBTSCreditsListController</string>
			<key>isController</key>
			<true/>
			<key>label</key>
			<string>Credits</string>
		</dict>
	</array>
	<key>title</key>
	<string>TypeStatus</string>
</dict>
</plist>
