<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>HBTSAlertsListController</string>
			<key>isController</key>
			<true/>
			<key>label</key>
			<string>ALERTS</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>HBTSAboutListController</string>
			<key>isController</key>
			<true/>
			<key>label</key>
			<string>ABOUT</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>HBTSCreditsListController</string>
			<key>isController</key>
			<true/>
			<key>label</key>
			<string>CREDITS</string>
		</dict>
	</array>
	<key>title</key>
	<string>TypeStatus</string>
</dict>
</plist>
